
.nav-link:focus, .nav-link:hover {
    color: rgb(255 255 255);
}

.nav {
    background: rgb(72 76 80);
    height: 52px;
    width: 917px;
    padding-right: 16px;
    margin-bottom: 20px;
    align-content: space-around;
    justify-content: space-between;
}

.schedule {
    color: #ffffff;
}

.nav a {
    cursor: default;
}

.nav a:nth-child(3) {
    cursor: pointer;
}

.nav a .img {
    width: 20px;
}

.button-submit {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    height: 36px;
    width: 108px;
    color: #131415;
    background: #ffffff80;
}

.button-submit:hover {
    color: #131415;
}

.ellipse {
    position: relative;
    width: 5px;
    bottom: 2px;
}

.button-enabled {
    background: #FFFFFF;
}

.info-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-links div a.name {
    position: fixed;
    bottom: 48px;
    right: 100px;
    color: rgb(255 255 255);
    font-size: 13px;
}

.footer-links div a.tag-id {
    position: fixed;
    bottom: 28px;
    right: 100px;
    color: rgb(255 255 255 / 50%);
    font-size: 12px;
}

.footer-links div .profile {
    position: fixed;
    bottom: 22px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/face.png);
    background-size: cover;
    float: right;
    right: 36px;
    border-radius: 50%;
}

.footer-links div a:hover {
    color: none;
}

.footer-links div a,
.footer-links div img {
    cursor: pointer;
    color: none;
    text-decoration: none;
}    

.setting-tag {
    margin-top: 0px;
    margin-bottom: 0px;
}